@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  height: 100vh;
  width: 100vw;
  min-width: 410;
  min-height: 575;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.wrapper {
  background-color: white;
  height: 550px;
  min-width: 410;
  min-height: 575;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grey {
  color: #999999;
}

.profile-top {
  height: 200px;
  width: 400px;
  background-image: url("../Img/city.jpg");
  /* JUSTE EN HAUT LA OU Y A CITY LA ON VAS METTRE LE BACKGROUD LU LOGO */
  background-position: center;
  background-size: cover;
  position: relative;
}

.profile-image {
  background-image: url(../Img/user.jpg); 
   /*LA AUSSI ON VAS METTRE LE LOGO A LA PARTIE USER LA JUSTE LA A LA LIGNE 44  */
  background-position: center;
  background-size: cover;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.profile-bottom {
  margin-top: 55px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-infos {
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-bottom: 5px;
}

.name {
  font-weight: 700;
  margin-right: 15px;
  margin-left: 50px;
}

.email {
  font-size: 18px;
  margin-bottom: 25px;
}
.ville {
  font-size: 25px;
  margin-bottom: 75px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ville ion-icon {
  margin-right: 5px;
  color: #388eff;
}
svg{
    width: 50px;
    border: #388eff 5px ;
}
.profile-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.stat-item:not(:last-child) {
  border-right: 1px solid black;
}

.stat {
  font-size: 20px;
  font-weight: 700;
}
